<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}

  <head>

    <title>Admin Control Panel</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>

  </head>

  <body>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">

        <h3 class="header center teal-text">Admin Control Panel</h3>

        <div class="row center">
          <h5 class="header col s12 light offset">View Results Or Import / Export Data</h5><br><br>
          <div class="col offset-s1"><a class="modal-trigger" style="color:teal;font-size: 20px" href="/OrganMatching">Logout</a></div>
          <div class="col offset-s8"><a class="modal-trigger" style="color:teal;font-size: 20px" href="#modal1">Information</a></div>
        </div>

      </div>
      <br><br>
      <div class="container">
        <div class="row">
            <div class="col l6 center">
                <h6 class="thin" style="color:teal; font-size: 32px"><a href="/resultview/">View The Result Of Patient-Donor Matching</a></h6>
            </div>
            <div class="col l6 center">
                <h6 class="thin" style="color:teal; font-size: 32px"><a href="/resultcsv/">Download The Result As CSV</a></h6>
            </div>
        </div>
        <br><br>

        <div class="row">

            <div class="col l6 center">
              <h4 class="thin" style="color:teal">Export The Data Files</h4>
              <br><br>
               <div class="row">
                <div class="col l6 m6 center">
                    <a href="{% static "patients.csv" %}" style="color:teal; font-size: 18px" target="_blank">patients.csv</a>
                </div>
                <div class="col l6 m6 center">
                    <a href="{% static "donors.csv" %}" style="color:teal; font-size: 18px" target="_blank">donors.csv</a>
                </div>
               </div>
            </div>


            <div class="col l6 center">
              <h4 class="thin" style="color:teal">Import The Data Files</h4>
              <br>
              <form enctype="multipart/form-data" action="/upload/" method="post">
              {% csrf_token %}
              <div class="row center" style="color:teal; font-size: 12px">Browse Files</div>
               <div class="row">
                <div class="col l6 center">
                    <!-- <a href="students.csv" style="color:teal; font-size: 18px" target="_blank">students.csv</a> -->

                        <div class="file-field input-field">

                            <input id="file1" name="file1" type="file" accept=".csv">

                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="patients.csv">
                          </div>
                        </div>

                </div>
                <div class="col l6 center">
                    <!-- <a href="branches.csv" style="color:teal; font-size: 18px" target="_blank">branches.csv</a> -->

                        <div class="file-field input-field">

                            <input id="file2" name="file2" type="file" accept=".csv">

                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="donors.csv">
                          </div>
                        </div>
                </div>
               </div>

               <div class="row center" >
                <span style="color:red; opacity: 0.8">{{error}}</span><br><br>
                <button type="submit" id="submit-button" class="btn-large waves-effect waves-light teal lighten-1 ">Upload <i class="mdi-content-send right"></i></button>
              </div>

              </form>
            </div>
        </div>
      </div>

    </div>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 style="color:teal">About</h4>
          <p>
            donors.csv : This is the file which contains information about the donor organs.<br>
            patients.csv : This is the file which contains information about each patient who has applied.<br>
            <br>
            You can also view the result online or download the result as a CSV file.<br>
            Also, you can download the data files currently present on the server.
          </p>
      </div>
      <div class="modal-footer">
        <p class="right-align" style="padding-right: 12px">Developed by <span style="color:teal">Shikhar Jaiswal<span></p>
      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>


    <script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();
    });
    </script>



  </body>
</html>