<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>

    <title>Organ Exchange Resolver</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>

  </head>

  <body>



    <div class="section no-pad-bot" id="index-banner">
      <div class="container">

        <h3 class="header center teal-text">Hi {{Username}}</h3>

        <div class="row center">
          <h5 class="header col s12 light offset">Edit And Save Your Settings Here</h5>
          <div class="col offset-s1"><a class="modal-trigger" style="color:teal;font-size: 18px" href="/OrganMatching">Cancel</a></div>
          <div class="col offset-s8"><a class="modal-trigger" style="color:teal;font-size: 18px" href="#modal1">Information</a></div>
        </div>

      </div>

      <div class="container">
        <div class="row">
            <form id ="myform" action = "/saved/" class="col s12" method="post">
            	{% csrf_token %}

              <div class="row">
              <div class="col l3 offset-l2">
                Personal Details:
              </div>
              </div>
              <div class="row">
              <div class="input-field col l3 offset-l3">
                <input id="User_ID1" name="User_ID  1" value="{{User_ID}}" type="text" class="validate" disabled>
                <!--<label for="rollno1">User ID</label>-->
                <input hidden id="User_ID" name="User_ID" value="{{User_ID}}" type="text" class="validate">
                <input hidden id="Username" name="Username" value="{{Username}}" type="text" class="validate">
              </div>

              <div class="input-field col l3">
                <input autocomplete="off" id="uname" name="uname" value ="{{old_pref.1}}"type="text" class="validate">
                <label for="uname">Name</label>
              </div>
        </div>
        <div class="row">
            <div class="input-field col l2 offset-l3">
                  <select id="currb" name ="currb">

                    {% for opt in donors %}
                      <option value="{{opt}}" {% if opt == old_pref.2 %}selected {% endif %}>{{opt}}</option>
                    {% endfor %}

                  </select>
                  <label>Current Branch</label>
            </div>


            <div class="input-field col l1">
                <input autocomplete="off" id="Age" name="Age" value ="{{old_pref.3}}"type="text" class="validate">
                <label for="Age">Age</label>
            </div>

            <div class="input-field col l1">
                <select id="Blood_Group" name ="Blood_Group">

                  {% for bg in blood_groups %}
                     <option value="{{bg}}" {% if bg == old_pref.4 %}selected {% endif %}>{{bg}}</option>
                  {% endfor %}

                </select>
                <label>Blood Group</label>
            </div>

            <div class="input-field col l2">
                <select id="Rhesus_Factor" name ="Rhesus_Factor">

                  {% for rf in rhesus_factors %}
                     <option value="{{rf}}" {% if rf == old_pref.4 %}selected {% endif %}>{{rf}}</option>
                  {% endfor %}

                </select>
                <label>Rhesus Factor</label>
            </div>
        </div>

              <div class="row center" >
                <span style="color:red; opacity: 0.8">{{error}}</span><br><br>
                <button type="submit" id="submit-button" class="btn-large waves-effect waves-light teal lighten-1 ">Save <i class="mdi-content-send right"></i></button>
              </div>

            </form>
          </div>
      </div>

    </div>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 style="color:teal">Information</h4>
        <p>
          Please enter your organ transplant requirements along with your name as well as your age (as an integer).<br>
          Don't forget to change your blood report if applicable.<br>
          For changing any entry, just click on the entry and either a scroll menu or a text field would appear.<br>
          Clicking cancel will log you out and your last changes will not be saved.
        </p>
      </div>
      <div class="modal-footer">
        <p class="right-align" style="padding-right: 12px">Developed by <span style="color:teal">Shikhar Jaiswal<span></p>
      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>


    <script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();
        document.getElementById("myform").reset();

        $('select').material_select();
        $('#myform input').attr('style', '-webkit-box-shadow: inset 0 0 0 1000px #ffffff !important');
    });
    </script>

   <script>
   var numSelects = {{old_pref|length|add:"-5"}};
   var divid, div, option, e;
   var donors = {{donors|safe}};
    $('#add').click(function () {

    if(numSelects >= donors.length - 1)
      return;
    numSelects += 1;
    divid = "pref"+numSelects;
    var divToAdd = document.getElementById('prefss');
    e = document.createElement('div');
    e.innerHTML = '<div class="input-field col l3"><select id="'+divid+'" name ="'+divid+'"></select><label>Preference '+numSelects+'</label></div>';
    divToAdd.appendChild(e);
    e = document.getElementById(divid);
    for (var i = 0; i < donors.length; i++)
    {
      option = document.createElement("option");
      option.setAttribute("value", donors[i]);
      option.text = donors[i];
      e.add(option);
    }

    $('#'+divid).material_select();
    });
    $('#remove').click(function () {
      if(numSelects == 0)
        return;
     numSelects -= 1;
     div = document.getElementById('prefss');
     div.removeChild(div.lastElementChild);
    });
   </script>


  </body>
</html>