<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>

    <title>Organ Exchange Resolver</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>

  </head>

  <body>



    <div class="section no-pad-bot" id="index-banner">
      <div class="container">

        <h3 class="header center teal-text">Hi {{Username}}</h3>

        <div class="row center">
          <h5 class="header col s12 light offset">Edit And Save Your Settings Here</h5>
          <div class="col offset-s1"><a class="modal-trigger" style="color:teal;font-size: 18px" href="/OrganMatching">Cancel</a></div>
          <div class="col offset-s8"><a class="modal-trigger" style="color:teal;font-size: 18px" href="#modal1">Information</a></div>
        </div>

      </div>

      <div class="container">
        <div class="row">
            <form id ="myform" action = "/saved/" class="col s12" method="post">
            	{% csrf_token %}

              <div class="row">
              <div class="col l3 offset-l2">
                Personal Details:
              </div>
              </div>
              <div class="row">
              <div class="input-field col l3 offset-l3">
                <input id="User_ID1" name="User_ID1" value="{{User_ID}}" type="text" class="validate" disabled>
                <!--<label for="rollno1">User ID</label>-->
                <input hidden id="User_ID" name="User_ID" value="{{User_ID}}" type="text" class="validate">
                <input hidden id="Username" name="Username" value="{{Username}}" type="text" class="validate">
              </div>

              <div class="input-field col l3">
                <input autocomplete="off" id="Name" name="Name" value ="{{patient.1}}"type="text" class="validate">
                <label for="Name">Name</label>
              </div>
        </div>
        <div class="row">
            <div class="input-field col l2 offset-l3">
                  <select id="Blood_Report" name ="Blood_Report">

                    {% for rept in reports %}
                      <option value="{{rept}}" {% if rept == patient.2 %}selected {% endif %}>{{rept}}</option>
                    {% endfor %}

                  </select>
                  <label>Blood Report</label>
            </div>


            <div class="input-field col l1">
                <input autocomplete="off" id="Age" name="Age" value ="{{patient.3}}"type="text" class="validate">
                <label for="Age">Age</label>
            </div>

            <div class="input-field col l1">
                <select id="Blood_Group" name ="Blood_Group">

                  {% for bg in blood_groups %}
                     <option value="{{bg}}" {% if bg == patient.4 %}selected {% endif %}>{{bg}}</option>
                  {% endfor %}

                </select>
                <label>Blood Group</label>
            </div>

            <div class="input-field col l2">
                <select id="Rhesus_Factor" name ="Rhesus_Factor">

                  {% for rf in rhesus_factors %}
                     <option value="{{rf}}" {% if rf == patient.4 %}selected {% endif %}>{{rf}}</option>
                  {% endfor %}

                </select>
                <label>Rhesus Factor</label>
            </div>
        </div>

              <div class="row center" >
                <span style="color:red; opacity: 0.8">{{error}}</span><br><br>
                <button type="submit" id="submit-button" class="btn-large waves-effect waves-light teal lighten-1 ">Save <i class="mdi-content-send right"></i></button>
              </div>

            </form>
          </div>
      </div>

    </div>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 style="color:teal">Information</h4>
        <p>
          1) Please enter your organ transplant requirements along with your name as well as your age (as an integer).<br>
          2) Don't forget to change your blood report if applicable. A positive blood report signals a presence of a
            transmissible disease, and a negative report signals an absence of the same.<br>
          3) For changing any entry, just click on the entry and either a scroll menu or a text field would appear.<br>
          4) Clicking cancel will log you out and your last changes will not be saved.
        </p>
      </div>
      <div class="modal-footer">
        <p class="right-align" style="padding-right: 12px">Developed by <span style="color:teal">Shikhar Jaiswal<span></p>
      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>


    <script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();
        document.getElementById("myform").reset();

        $('select').material_select();
        $('#myform input').attr('style', '-webkit-box-shadow: inset 0 0 0 1000px #ffffff !important');
    });
    </script>

  </body>
</html>