<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <title>Organ Exchange Resolver</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>

  </head>

  <body>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">

        <br><br>
        <br><br>

        <h1 class="header center teal-text">Organ Exchange Resolver</h1>
        <div class="row center">
          <h5 class="header col s12 light">A Web Application Finding Viable Donor-Patient Exchanges</h5>
          <div class="col offset-s10"><a class="modal-trigger" style="color:teal" href="#modal1">Viability Factors</a></div>
        </div>
        <br><br>

        <div id ="register" class="container">
          <div class="row">
              <form id ="myform" action = "/submit/" class="col s12" method="post">
                {% csrf_token %}

                <div class="row">

                <div class="input-field col l6 offset-l3">
                  <input id="ldapid" name="ldapid" type="text" class="validate" autocomplete="off" value="{{ldapid}}">
                  <label for="ldapid">Identity</label>
                </div>
                <br><br><br>
                <div class="input-field col l6 offset-l3">
                  <input id="ldappass" name="ldappass" type="password" class="validate" autocomplete="off">
                  <label for="ldappass">Password</label>
                </div>

                </div>

                <div class="row center">
                  <span style="color:red; opacity: 0.8">{{error}}</span><br><br>
                  <button type="submit" id="submit-button" class="btn-large waves-effect waves-light teal lighten-1 ">Login <i class="mdi-content-send right"></i></button>

                </div>

              </form>
            </div>
        </div>


         <div class="container">
            <div class="row">
              <div id ="spinner" class="col l8 offset-l2"></div>
            </div>
        </div>

        <br><br>

      </div>

    </div>


    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 style="color:teal">Viability Factors</h4>
        <p>This is the login page for accessing the Organ Exchange Resolution Application.<br><br>

          General Guidelines:<br><br>
          1. The eligibility criteria for applying for a donor-patient match are:<br><br>
          (a) At the time of death, the potential donor's organs are to be evaluated to determine
          their suitability for donation.<br>
          (b) The patient must complete prescribed course of drugs and blood tests.<br>
          (c) The donor must not be suffering from HIV, Leukemia, Hepatitis or any other
          disease posing a risk of transmission.<br>
          (d) Children can join the organ donor registry, but their parents must give consent after they die
          or reach the legal age of 18.<br>
          (e) A donor can be no more than 80 years of age for cornea donation and 60 years of age for heart valves
          and tendons donation. Additionally, a donor cannot donate blood if he has had a recent blood transfusion.<br><br>
          2. Before beginning the allocation, the donated organs will be branched into two categories - open and indicated.<br><br>
          3. Each openly available organ would find potential hosts among the entire set of receivers.<br><br>
          4. An indicated organ would first be matched with the intended host chosen by the donor, and in case of an
          unfruitful match, would be passed on to the open category.<br><br>
          5. An eligible patient’s request for a transfer will be considered valid if any one of the following two sets
          of criteria are satisfied:<br><br>
          (a) Set 1<br>
          i. The patient is the intend recipient of the donor's organs.<br>
          ii. The patient is a potential match for receiving the organs.<br><br>
          (b) Set 2<br>
          i. The patient is a potential match for receiving the organs.<br>
          ii. There is no patient with stabler match who is currently being denied a transplant due to the above rule.<br>
          iii. In case of a tie, the date of admission and the age of the patients would be taken into consideration.
         </p>
      </div>
      <div class="modal-footer">
        <p class="right-align" style="padding-right: 12px">Developed by <span style="color:teal">Shikhar Jaiswal<span></p>
      </div>
    </div>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <script>
    $(document).ready(function() {
        document.getElementById("myform").reset();
        $('#myform input').attr('style', '-webkit-box-shadow: inset 0 0 0 1000px #ffffff !important');
        $('.modal-trigger').leanModal();
    });
    $('#submit-button').click(function () {
      $("#register").hide();
      var divToAdd = document.getElementById('spinner');
      var e = document.createElement('div');
      e.innerHTML = '<br><br><div class="progress"><div class="indeterminate"></div></div>';
      divToAdd.appendChild(e);
    });
    </script>

  </body>
</html>